.body-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.text-container {
  width: 50%;
}
.text-container h1 {
  font-size: 289px;
  line-height: 0px;
  position: relative;
}

.text-container .model {
  color: orangered;
  font-family: "inter";
}
.text-container h1 .cc-limit {
  position: absolute;
  top: 190px;
  left: 310px;
  color: black;
}

.text-container p {
  position: absolute;
  top: 650px;
  left: 310px;
  font-size: 24px;
  font-weight: 500;
letter-spacing: 18px;

}

.img-container {
  padding: 5px;
  width: 50%;
}


.pagination{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.pagination p {
  font-size: 24px;
  font-weight: 600;
  padding: 0px 10px;
  margin-right: 10px;
}